*{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}
html,body {
   width: 100%;
   height: 100%;
}
.invoice-header{
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding: 10px;
}
.invoice-header img{
    cursor: pointer;
}
.invoice-container{
    justify-self: center;
}
.border-1{
    border: 1px solid;
}