@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --heading-bg-color: #eeeeee;
  --header-sidebar-bg-color: #141d38;
  --text-color: #3c4059;
  --secondary-text-color: #ffffff;
  --border-color: #babed8;
  --table-th-bg-color: #eceff3;
  --pag-bg-color: #fe660c;
  --table-striped-bg-color: #eceff3;
  --lang-text-font-weight: 500;
  --lang-text-font-size: 14px;
  --lang-text-font-lh: 16.41px;
  --heading-font-weight: 700;
  --heading-font-size: 22px;
  --heading-font-lh: 33px;
  --card-text-title-weight: 500;
  --card-text-title-size: 16px;
  --card-text-title-lh: 24px;
  --label-text-weight: 500;
  --label-text-size: 14px;
  --label-text-lh: 21px;
  --th-text-weight: 500;
  --th-text-size: 11px;
  --th-text-lh: 12.89px;
  --td-text-weight: 400;
  --td-text-size: 10px;
  --td-text-lh: 11.72px;
  --btn-search-text-weight: 500;
  --btn-search-text-size: 12px;
  --btn-search-text-lh: 18px;
  --pag-text-weight: 400;
  --pag-text-size: 12px;
  --pag-text-lh: 14.06px;
  --pag-btn-text-weight: 400;
  --pag-btn-text-size: 13px;
  --pag-btn-text-lh: 15.23px;
  --search-po-card-width: 640px;
  --search-po-card-height: 273px;
}

.invoice-dash-header {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 10px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.invoice-dash-header img {
  cursor: pointer;
}

.invoices-nav-link {
  color: #3c4059;
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cus-ban {
  border: 1px solid #babed8;
}

.container-1 {
  height: auto;
  border-top: 1px solid #babed8;
  border-left: 1px solid #babed8;
  border-bottom: 1px solid #babed8;
  border-right: 1px solid #babed8;
  align-items: center;
}

.container-2 {
  width: auto;
  height: auto;
  border: solid 1px #babed8;
  margin-left: 14px;
  margin-right: 10px;
  border-radius: 4px;
}

.container-2 span img {
  margin: 3px;
}

h4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h4 span {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

th {
  background-color: var(--table-th-bg-color);
  position: relative;
  cursor: pointer;
  font-size: var(--th-text-size);
  line-height: var(--th-text-lh);
  font-weight: var(--th-text-weight);
  color: var(--text-color);
}

td {
  font-size: var(--td-text-size);
  line-height: var(--td-text-lh);
  font-weight: var(--td-text-weight);
  color: var(--text-color);
}

th .sort-icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 4px;
}

th .sort-icons i {
  font-size: 12px;
  /* color: #6c757d; */
  cursor: pointer;
  border: 1px solid #babed8;
}

.pagination .page-item.active .page-link {
  background-color: #fe660c;
  color: #ffffff;
  border: none;
}

.sortable-header {
  display: flexbox;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 8px;
}

.sort-icons {
  display: flex;
  flex-direction: column;
}

.sort-icon {
  cursor: pointer;
  font-size: 5px;
  line-height: 1;
}

.page-size-container label,
.search-div label {
  font-weight: var(--label-text-weight);
  font-size: var(--label-text-size);
  line-height: var(--label-text-font-lh);
}

.pag-div div {
  font-weight: var(--pag-text-weight);
  font-size: var(--pag-text-size);
  line-height: var(--pag-text-lh);
}

.line {
  border-bottom: 1px solid #babed8;
}

label span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

select {
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #babed8;
}

select option {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
html,
body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

header {
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  grid-row: 2;
  display: grid;
  grid-template-columns: 70px auto;
  overflow: hidden;
}

aside {
  grid-column: 1;
  background-color: #141d38;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  transition: width 0.3s ease; /* Smooth transition */
}

aside:hover {
  width: 250px; /* Expanded width on hover */
}

aside::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar */
}

.content {
  grid-column: 2;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar */
}

.dashboard-container {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  /* position: relative; */
  /* width: 80%; */
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #141d38;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: static;
  align-items: center;
  overflow: auto;
}

.sidebar::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar */
}

/* Additional styles for content */
.content {
  flex: 1 1 auto;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar */
}

.dashboard-container {
  display: grid;
  flex: 1 1;
  height: auto;
}

/* Sidebar */
.sidebar {
  width: 80px;
  background-color: #141d38;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 5px; */
  padding-left: 5px;
  /* height: 100dvh; */
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar a span {
  margin: 12px;
  color: #fff;
  text-wrap: nowrap;
  display: none;
}

.sidebar:hover {
  width: auto;
  display: block;
  align-items: start;
}

.menu-item {
  display: flex;
  align-items: center;
  /* padding: 10px 15px; */
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item img {
  width: 30px;
  height: 30px;
  /* margin-right: 15px; */
  margin-left: auto;
}

.menu-item span {
  display: none;
  font-size: 16px;
  white-space: nowrap;
}

.sidebar:hover .menu-item img {
  margin-left: 10px;
}

.sidebar:hover .menu-item span {
  display: block;
}

.sidebar .logo img {
  display: flex;
  width: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  align-items: center;
}

.sidebar .logo img :hover {
  display: flex;
  justify-items: start;
}

.logo-container {
  display: flex;
  /* justify-self: center; */
}

.logo-container h3 {
  margin: 15px;
  color: #fff;
  display: none;
  white-space: nowrap;
}

.sidebar:hover .logo-container h3 {
  display: block;
  margin-top: 30px;
  margin-left: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar nav ul li {
  display: flex;
  justify-items: end;
  /* margin: 10px 0; */
  position: relative;
  align-items: center;
  /* margin-top: 10px; */
}

.sidebar nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
  color: ffffff;
  background-color: #3c4059;
  border-radius: 4px;
  width: 100%;
}

.sidebar nav ul li a .icon {
  margin-right: 10px;
  font-size: 24px;
}

.sidebar nav ul li a .title {
  display: none;
  font-size: 16px;
  margin-left: 10px;
  white-space: nowrap;
}

.sidebar:hover nav ul li a .title {
  display: inline;
}

/* Main Content */
.main-content {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  position: sticky;
  background-color: #141d38;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}

.header nav {
  display: flex;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-btn {
  background: none;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  /* margin-right: 50px; */
  /* border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif; */
}

.user-dropdown-btn:hover {
  background-color: #3c4059;
}

/* Dropdown content */
.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #141d38;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #3c4059;
  border-radius: 5px;
  right: 1px;
  top: 50px;
}

.user-dropdown-content .submenu {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  border-bottom: 1px solid #ddd;
}

.user-dropdown-content .submenu:last-child {
  border-bottom: none;
}

/* Hover effect on links */
.user-dropdown-content .submenu:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.btn-togg-drop {
  background: none;
  color: white;
  border: none;
  box-sizing: border-box;
}

.btn-togg-drop :hover {
  background-color: #3c4059;
  border: 1px solid #141d38;
  /* padding:5px; */
}

/* Dashboard Heading */
.dashboard-heading {
  background-color: #eeeeee;
  color: #3c4059;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: sticky;
  z-index: 999;
}

/* Content Section */
.content {
  padding: 20px;
  overflow-y: auto;
}

header {
  background-color: var(--header-sidebar-bg-color);
}

.lang-text,
.dropdown-item,
.submenu {
  font-size: var(--lang-text-font-size);
  line-height: var(--lang-text-font-lh);
  font-weight: var(--lang-text-font-weight);
}

h3 {
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--heading-font-lh);
  color: var(--heading-bg-color);
  margin-left: 10px;
}

.title-text {
  font-weight: var(--card-text-title-weight);
  font-size: var(--card-text-title-size);
  line-height: var(--card-text-title-lh);
  color: #3c4059;
}

.card-inside-text {
  font-weight: var(--label-text-weight);
  font-size: var(--label-text-size);
  line-height: var(--label-text-font-lh);
}

.search-btn {
  width: 118px;
  height: 40px;
  border: 1px solid var(--border-color);
  background: var(--secondary-text-color);
  margin-bottom: 10px;
}

.search-po-card {
  /* width: 640px;
    height: 273px; */
  border-radius: 4px;
  border: 1px solid #babed8;
}

.btn-search-text {
  font-weight: var(--btn-search-text-weight);
  font-size: var(--btn-search-text-size);
  line-height: var(--pag-btn-text-lh);
  color: var(--text-color);
}

.nav-item a {
  color: #4b4b4b;
}

.nav-item a:hover {
  color: #f39c12;
}

.nav-link.active {
  color: #f39c12;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.card-heading {
  font-weight: var(--card-text-title-weight);
  font-size: var(--card-text-title-size);
  line-height: var(--card-text-title-lh);
}

.label-text {
  font-weight: var(--label-text-weight);
  font-size: var(--label-text-size);
  line-height: var(--lang-text-font-lh);
}

nav .btn {
  background-color: #141d38;
  border: none;
}

hr {
  border: 1px solid #0000001a;
}

.po-btn {
  border: #babed8 1px solid;
  background-color: #fff;
}

input[type="radio"]:checked {
  accent-color: #ff5733;
  /* Modern browsers support */
}

.sidenav {
  background-color: #141d38;
  margin: 0;
  padding: 0;
  /* width: 30px; */
  /* transition: width 0.3s ease; */
  position: relative;
  /* overflow: hidden; */
  /* Smooth transition */
}

.sidenav:hover {
  width: 20px;
}

.sidenav:hover .sub-sidebar {
  display: none;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px;
}

/* .sidenav .content {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    color: white;
    left: 60px; 
    top: auto;

}
.sidenav:hover .content{
    opacity: 1;
} */

nav span a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li {
  margin-top: 20px;
}

/* .nav-link.active {
    border: 1px solid #3C4059;
    padding-left: 4px;
    background-color: #3C4059;
} */
aside nav {
  width: auto;
}

main {
  width: auto;
}

aside nav {
  padding: 0;
  margin: 0;
}

i {
  color: #141d38;
}

.dashboard-heading {
  background-color: #eeeeee;
  /* width: 100%; */
}

section {
  border: 1px solid #babed8;
}

.row-container {
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 10px; */
  /* padding: 10px; */
}

.sub-sidebar {
  display: block;
  background-color: #ffffff;
  border: 1px solid #bedaff;
  position: static;
  top: 0;
  /* left: 100%; */
  /* padding: 10px; */
}

.sub-sidebar.active {
  display: block;
}

.sub-sidebar span {
  color: #3c4059;
  font-weight: 600;
  text-wrap: nowrap;
}

.sub-sidebar a {
  color: #4b4b4b;
  text-wrap: nowrap;
}

.sub-sidebar a:hover {
  color: #f39c12;
  text-wrap: nowrap;
}

/* aside nav li:hover {
    border: 1px solid #3C4059;
    background-color: #3C4059;
    transition: all 0.3s ease;
} */

aside nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

aside nav li a .icon-title {
  margin-left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

aside nav li a:hover .icon-title {
  opacity: 1;
  visibility: visible;
}

.refresh {
  cursor: pointer;
}

.hamburger {
  color: #ffffff;
  width: 32px;
  height: 32px;
  margin-top: 20px;
  cursor: pointer;
}

.icons {
  width: 32px;
  height: 32px;
}

.icons-setting {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}

.toggle-image {
  width: 100%;
  /* Ensure image fits inside container */
}

.active-title {
  display: block;
  /* Show the title when image is visible */
  margin-top: 8px;
  font-weight: bold;
}

.nav-item {
  position: relative;
}

.customer-input {
  border: solid 1px transparent;
  box-shadow: inset 0 0 0 1px var(--border-color);
  outline: none;
}

.customer-input:focus {
  box-shadow: inset 0 0 0 1px var(--border-color);
}

.icons-link {
  position: relative;
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.icons-link.active {
  background-color: #3c4059;
  display: block;
  /* Box background color */
}

.icons-link.active .icons {
  opacity: 1;
  /* Optional highlight for active icons */
}

/* Tooltip styling */
.icons-link .icon-title {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
  background: #333;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
}

.icons-link:hover .icon-title {
  display: block;
  /* Show title on hover */
}

/* Toggle image styling */
.toggle-img {
  margin-left: auto;
  cursor: pointer;
}

.toggle-img.d-none {
  display: none;
}

.custom-scrollbar {
  /* For WebKit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar */
  }

  /* For Firefox */
  scrollbar-width: none;
  /* Hides scrollbar */

  /* For IE and Edge */
  -ms-overflow-style: none;
  /* Hides scrollbar */
}

.pag-text {
  font-size: var(--pag-text-size);
  line-height: var(--pag-text-lh);
  font-weight: var(--pag-text-weight);
  color: var(--text-color);
}

.pag-btn-text {
  font-size: var(--pag-btn-text-size);
  line-height: var(--pag-btn-text-lh);
  font-weight: var(--pag-btn-text-weight);
  color: var(--text-color);
}

/* Base styles for dropdown */
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-btn {
  background: none;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  /* margin-right: 50px; */
  /* border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif; */
}

.user-dropdown-btn:hover {
  background-color: #3c4059;
}

/* Dropdown content */
.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #141d38;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #3c4059;
  border-radius: 5px;
  right: 1px;
  top: 50px;
}

.user-dropdown-content .submenu {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #ddd;
}

.user-dropdown-content .submenu:last-child {
  border-bottom: none;
}

/* Hover effect on links */
.user-dropdown-content .submenu:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.btn-togg-drop {
  background: none;
  color: white;
  border: none;
  box-sizing: border-box;
}

.btn-togg-drop :hover {
  background-color: #3c4059;
  border: 1px solid #141d38;
  /* padding:5px; */
}

th {
  background-color: var(--table-th-bg-color);
  position: relative;
  cursor: pointer;
  font-size: var(--th-text-size);
  line-height: var(--th-text-lh);
  font-weight: var(--th-text-weight);
  color: var(--text-color);
}

td {
  font-size: var(--td-text-size);
  line-height: var(--td-text-lh);
  font-weight: var(--td-text-weight);
  color: var(--text-color);
}

th .sort-icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 4px;
}

th .sort-icons i {
  font-size: 12px;
  /* color: #6c757d; */
  cursor: pointer;
  border: 1px solid #babed8;
}

/* th .sort-icons i.active {
    color: #007bff;
}

.pagination .page-item .page-link {
    color: #007bff;
} */

.pagination .page-item.active .page-link {
  background-color: #fe660c;
  color: #ffffff;
  border: none;
}

.sortable-header {
  display: flexbox;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 8px;
}

.sort-icons {
  display: flex;
  flex-direction: column;
}

.sort-icon {
  cursor: pointer;
  font-size: 5px;
  line-height: 1;
}

.page-size-container label,
.search-div label {
  font-weight: var(--label-text-weight);
  font-size: var(--label-text-size);
  line-height: var(--label-text-font-lh);
}

.pag-div div {
  font-weight: var(--pag-text-weight);
  font-size: var(--pag-text-size);
  line-height: var(--pag-text-lh);
}

/* Responsive Design */
/* @media (max-width: 768px) {
  .tables-section {
    grid-template-columns: 1fr;
  }

  .sidebar {
    width: 80px;
  }

  .sidebar ul li {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
  }

  .sidebar:hover {
    width: 80px;
  }

  .sidebar:hover .menu-item span {
    display: none;
  }

  .header {
    font-size: 14px;
  }

  .search-and-todo {
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
  }
} */

input[type="date"] {
  border: 1px solid #babed8;
}

input:active,
input:focus {
  border: 1px solid #babed8;
}

.content-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 100px);
}

.content-scroll::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar */
}
.card {
  width: 210px;
  height: 166px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin-top: .5rem;
}


.card-text {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(210px, 1fr)
  ); /* Flexible columns */
  grid-gap: 20px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  box-sizing: border-box; /* Include padding and borders in the dimensions */
  width: 100%; /* Full width of the container */
}

@media (max-width: 430px) {
  /* Adjust the grid layout for smaller screens */

  body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  /* aside {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-around;
    } */

  .content {
    width: 100%;
  }

  .card {
    width: 25%;
    height: auto;
  }

  .card-body {
    align-items: flex-start;
  }

  .card-title,
  .card-text {
    text-align: left;
  }
  .row-container {
    display: flex;
    flex-direction: column;
  }
  .sub-sidebar .btn {
    width: 25%;
    margin-bottom: 1rem;
  }
  .dashboard-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
