@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --heading-bg-color: #EEEEEE;
    --header-sidebar-bg-color: #141D38;
    --text-color: #3C4059;
    --secondary-text-color: #FFFFFF;
    --border-color: #BABED8;
    --table-th-bg-color: #ECEFF3;
    --pag-bg-color: #FE660C;
    --table-striped-bg-color: #ECEFF3;
    --lang-text-font-weight: 500;
    --lang-text-font-size: 14px;
    --lang-text-font-lh: 16.41px;
    --heading-font-weight: 700;
    --heading-font-size: 22px;
    --heading-font-lh: 33px;
    --card-text-title-weight: 500;
    --card-text-title-size: 16px;
    --card-text-title-lh: 24px;
    --label-text-weight: 500;
    --label-text-size: 14px;
    --label-text-lh: 21px;
    --th-text-weight: 500;
    --th-text-size: 11px;
    --th-text-lh: 12.89px;
    --td-text-weight: 400;
    --td-text-size: 10px;
    --td-text-lh: 11.72px;
    --btn-search-text-weight: 500;
    --btn-search-text-size: 12px;
    --btn-search-text-lh: 18px;
    --pag-text-weight: 400;
    --pag-text-size: 12px;
    --pag-text-lh: 14.06px;
    --pag-btn-text-weight: 400;
    --pag-btn-text-size: 13px;
    --pag-btn-text-lh: 15.23px;
    --search-po-card-width: 640px;
    --search-po-card-height: 273px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}

html,
body {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
}

.dashboard-container {
    display: grid;
    grid-template-rows:auto auto;
    height: 100%;
    position: relative;

}

/* th .sort-icons i.active {
    color: #007bff;
}

.pagination .page-item .page-link {
    color: #007bff;
} */

/* Container for tabs */
.tabs {
    border-bottom: 1px solid #3C4059;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    /* Space between tabs */
}

/* Individual tabs */
.tab {
    color: #3C4059;
    /* Default text color */
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
    border: none;
    background: transparent;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

/* Active tab with orange underline */
.tab.active {
    color: #FE660C;
    border-bottom: 1px solid #FE660C;
}

.nav-underline .tab-item.active {
    border-bottom: 2px solid #FE660C;
    margin-bottom: -1px;
}

/* .nav-item.active{
    border-bottom: 1px solid #FE660C;;
} */
/* Hover effect for tabs */
/* .tab:hover {
    color: black;
} */

/* Make sure to override Bootstrap's styles if needed */
.nav-item {
    margin: 0;
}

/* Responsive Design */