@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ecefff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-form {
  width: 642px;
  height: 381px;
  border-radius: 4px;
  border: 1px solid #babed8;
  background-color: #ecefff;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.logo-container h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  font-family: Inter;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label-text {
  color: #027edc;
  text-align: left;
  margin-left: 13%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container-fields {
  display: block;
}
.username {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.01em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
}
.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}
.second-label-text {
  color: #333333;
  font-family: Inter;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-left: 13%;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.input-group {
  width: 460px;
  border: 0.5px solid #00000080;
  height: 38px;
  background-color: #ffff;
}
.input-group img {
  background-color: transparent;
}
.container-fields {
  margin-left: 13%;
}
.btn-login {
  width: 109px;
  height: 30px;
  color: #ffff;
  background-color: #141d38;
  margin-top: 5px;
  margin-right: 17%;
}
.foot {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.foot span {
  color: #007edc;
}
.is-invalid {
  border-color: #dc3545 !important; /* Ensure red border */
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* Add subtle shadow */
}
.input-group input {
  padding-left: 40px;
  padding-right: 154px;
  border: none;
  padding-top: 10px;
}
a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.01em;
}
