/* *{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}
html,body {
   width: 100%;
   height: 100%;
}
.order-map-header {
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding: 10px;
}

.order-map-header img {
    cursor: pointer;
}

.map-container {
    justify-self: center;
}

.cus-ban {
    border: 1px solid #BABED8;
}

.border-1 {
    border: 1px solid;
} */

.cus-ban {
    border: 1px solid #BABED8;
}